.page {
    width: 100%;
    height: 100%;
display: flex;
flex-direction: row;
align-items: top;
align-content: center;
justify-items: center;
justify-content: center;
color: black;
font-size: 5rem;
margin: 0px;
background-image: url("./back.jpg");
background-size: 100%;
}

.page button{

}
.page iframe{
    box-shadow: -5px 5px 2px 1px rgba(1, 1, 32, 0.2);
    border: 1px solid gold;
    margin: 1rem;
    border-radius: 2%;
}

.miniature{
  background: linear-gradient(#dddde6, #f7f2f2 );
  border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
align-content: center;
justify-content: center;
 box-shadow: -2px 5px 2px 2px rgba(1, 1, 32, 0.2);
 border: 1px solid gold;
}

.miniature img{
 border: 1px solid gold;
    margin: 1rem;
    border-radius: 10%;
    box-shadow: -5px 5px 2px 1px rgba(1, 1, 32, 0.2);
    }

   /*  ///////////////////////////////////////////////////////////////////////// */

   .lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    z-index: 1;
    color: red;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(155, 13, 13);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }